* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content:"";
  display: table;
  clear: both;
}
main {
  width: 100%;
  height: calc(100% - 60px);
}
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}


/* navigation */
.logo {
  display: flex;
  flex-direction: row;
}
.logo img{
  margin-left: 20px;
  vertical-align: text-bottom;
  width: 50px;
  display: inline-block;
}
.logo h2{
  margin-left: 3px;
  width: 100px;
  color: white;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 500;
}
h3:hover, li:hover {
  color: white;
}
nav {
  padding-top: 10px;
  background-color: black;
  width: 200px;
  height: calc(100vh - 60px);
  float: left;
}
nav h2 {
  vertical-align: middle;
  color: grey;
  font-weight: 200;
  font-size: 0.9em;
}
nav h3 {
  padding-left: 20px;
  letter-spacing: 0.1em;
  font-size: 1em;
  color:white;
  margin-bottom: 7px;
}
nav>h2>i {
  padding-left: 20px;
  font-size: 2em;
  vertical-align: middle;
  margin-right: 15px;
}
.navigation-menu {
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  font-size: 0.8em;
  color:grey;
  line-height: 38px;
  display: flex;
  flex-direction: column;
}
.navigation-menu i {
  padding-left: 20px;
  font-size: 1.5em;
  margin-right: 5px;
  vertical-align:middle;
}

.navigation-menu>li:hover {
  border-left: 3px solid #ADFF2F;
  margin-left: 0;
}
.playlist-menu {
  width: 100%;
  margin-top: 8px;
  line-height: 35px;
  list-style: none;
  font-size: 0.8em;
  color: #4d4d4d;
}
.playlist-menu li {
  padding-left: 20px;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.playlist-menu li:hover {
  border-left: 3px solid #ADFF2F;
  padding-left: calc(20px - 3px);
}


/* upper menu */
.main-container {
  width: calc(100% - 200px);
  height: calc(100vh - 60px);
  background-color: black;
  display: inline-block;
  float: left;
}
.btn {
  background-color: black;
  color: lightgray;
  border: 1px solid lightgray;
  padding: 6px 35px;
  display: block;
  border-radius: 20px;
  text-align: center;
  font-size: 0.7em;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 70px;
}
.music-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  overflow: hidden;
}
.music-menu li {
  margin: 7px 20px;
  padding-bottom: 5px;
  color: gray;
  font-size: 0.8em;
  font-weight: 600;
  font-stretch: extra-expanded;
}
.music-menu li:hover {
  margin: 7px 20px;
  padding-bottom: 5px;
  color: white;
  border-bottom: 2px solid #ADFF2F;
}

/* album */
.music-menu ul {
  margin-bottom: 5px;
}
.music-menu li {
  margin: 7px 20px;
  padding-bottom: 5px;
  color: gray;
  font-size: 0.8em;
  font-weight: 600;
  font-stretch: extra-expanded;
}
.music-menu li:hover {
  margin: 7px 20px;
  padding-bottom: ;
  color: white;
  border-bottom: 2px solid #ADFF2F;
}
.album-container {
  height: calc(100% - 70px);
  width: 100%;
  background-color: #000C1E;
  overflow-y  : scroll;
  z-index: 1;
}
.album-container-title h1{
  font-size: 2em;
  color: white;
  font-weight: 600;
  margin: 40px;
}
.album-collection {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-album {
  flex-basis: 16%;
  margin-right: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: red;
}

.single-album-artwork {
  position: relative;
  width: 100%;
  height: 100%;

}
.single-album-artwork img:hover {
  filter: brightness(50%);
}

.single-album-artwork:hover i {
  display: block;
}

.single-album-artwork i {
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  position: absolute;
  font-size: 4em;
  color: white;
  display: none;
}

.single-album h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: white;
}
.single-album h3 {
  text-align: center;
  margin-top: 1px;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: gray;
}
.single-album h3:hover {
  color: white;
}


/* footer1 */
.footer-player-a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-player-a img {
  margin: 0 10px;
  width: 50px;
}
.footer-player-a i {
  font-size: 1em;
  color: gray;
  margin-left: 10px;
}
.title {
  font-size: 0.8em;
  font-weight: 600;
  display: block;
  transition: 0.3s;
}
.title:hover {
  color: white;
}
.subtitle {
  font-size: 0.7em;
  display: block;
  transition: 0.3s;
}
.subtitle:hover {
  color: white;
}
.info-player {
  color: gray;
  display: flex;
  flex-direction: column;
  line-height: 14px;
  margin-right: 40px;
}
/* footer2 */
.footer-player-b {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.top-navigation {
  flex-basis: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.top-navigation i {
  font-size: 1em;
  color: white;
  margin: 0 20px;
  color: gray;
}

.footer-player-b .play {
  font-size: 1.5em;
}
.footer-player-b .forward{
  transform: rotatey(180deg);
}
.bottom-navigation{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.placeholder-num p {
  font-size: 0.6em;
  color: white;
  font-weight: 500;
}
.central-bar-gray {
  width: 50%;
  margin: 0 20px;
  height: 4px;
  background-color: gray;
  border-radius: 2px;
  display: relative;
}
.central-bar-green {
  width: 10%;
  height: 4px;
  background-color: #ADFF2F;
  border-radius: 2px;
  position: absolute;

}

.ballpoint{
  position: absolute;
  width: 6px;
  height: 6px;
  right: 0;
  top:-1px;
  margin-bottom: 8px;
  border-radius: 2.5px;
  background-color: white;
}
/* footer-player-c */

.footer-player-c {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-player-c i {
  font-size: 0.8em;
  color: gray;
  margin-left: 10px;
}
.side-bar-gray {
  width: 100px;
  margin: 0 20px;
  height: 4px;
  background-color: gray;
  border-radius: 2px;
  display: relative;
}
.side-bar-green {
  width: 25px;
  height: 4px;
  background-color: #ADFF2F;
  border-radius: 2px;
  position: absolute;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  width: 100%;
  height:60px;
  background-color: black;
}
