* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
.logo {
  display: flex;
  flex-direction: row;
}
.logo img{
  vertical-align: text-bottom;
  width: 40px;
  display: inline-block;
}
.logo h2{
  width: 100px;
  color: white;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
}

h2:hover, h3:hover, li:hover {
  color: white;
}

nav {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color:rgba(255, 255, 255, 0.1);
  border-right: 1px solid red;
  width: 200px;
  height: 100vh;
}

nav h2 {
  vertical-align: middle;
  color: grey;
  font-weight: 200;
  font-size: 0.9em;
}

nav h3 {
  letter-spacing: 0.1em;
  font-size: 1em;
  color:white;
  margin-bottom: 7px;
}

nav>h2>i {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 15px;
}

.navigation-menu {
  margin-bottom: 20px;
  margin-top: 10px;
  list-style: none;
  font-size: 0.8em;
  color:grey;
  line-height: 38px;
  display: flex;
  flex-direction: column;
}

.navigation-menu i {
  font-size: 1.5em;
  margin-right: 5px;
  vertical-align:middle;
}
.playlist-menu {
  width: 100%;
  margin-top: 8px;
  line-height: 35px;
  list-style: none;
  font-size: 0.8em;
  color: #4d4d4d;
}
.playlist-menu li {
  width: 120px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.playlist-menu li:hover {
  border-left: 2px solid green;
  padding-left: 10px;
}
